body{
   font:16px/20px verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	margin: 20px;
	padding:0px;
	line-height: 20px;
}

div#wrapper {
margin-left:auto;
margin-right:auto;
max-width:1000px;
}

table {
    font:16px/20px verdana, arial, helvetica, sans-serif;
	color:#333;
	margin:2px;
	padding:2px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}
		
h1 {
    font-size:28px;
    font-weight:bold;
	margin-left: 0px;
	margin-top: 8px;
	line-height: 30px;
}
	
h2 {
	font-size: 24px;
	margin-left: 0px;
	margin-top:5px;
	line-height: 24px;
}
	
h3 {
	font-size: 20px;
	margin-left: 0px;
	margin-top:10px;
}
	
h4 {
	font-size: 18px;
	margin-left: 0px;
	margin-top:10px;
}
	
p {
	font:16px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
}

ul {
	font:16px/20px verdana, arial, helvetica, sans-serif;
	margin: 10px 0px 0px 16px;
	padding:2px;
}
	
li {
  margin-bottom: 8px;
  }

.greek {
    font-family: serif;
    font-size: 130%;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=button] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}